$dark: rgb(0, 0, 0);
$medium: rgb(16, 42, 68);
$light: rgb(236, 244, 248);
$accent: rgb(139, 195, 74);

@mixin breakpoint($breakpoint) {
  @media (max-width: $breakpoint) { @content; }
}
@mixin title-font {font-family: 'Raleway', sans-serif;}
@mixin accent-font {font-family: 'Playfair Display'; font-style: italic; font-weight: 400;}
@mixin height-width($height, $width) {height: $height; width: $width}

html {height: 100vh;}
html, body {
  @include height-width(100%, 100%);
  @include breakpoint(600px) {
    font-size: 12px;
  }
}

html body {
  background-image: radial-gradient($medium 0%, $dark 100%);
}

.accent {
  color: $accent;
}

.flex-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  .flex-container--inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // text-align: center;
    color: $light;
    @include height-width(20em, 20em);
    padding: 2em;
    border-radius: 1em;
    background-color: rgba(darken($light, 30%), 0.1);
    @include breakpoint(600px) {
      @include height-width(auto, 75%);
    }
    h1 {
      @include title-font;
      font-weight: 900;
      margin: 0;
      text-align: center;
      span.small {
        font-weight: 100;
      }
    }
    p {
      @include accent-font;
    }
  }
}
